# Assignment: Data Wrangling
### `! git clone https://github.com/ds3001f25/wrangling_assignment.git`
### Do Q1 and Q2
### Reading material: `tidy_data.pdf`

**Q1.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the Minnesota police use of for data, `./data/mn_police_use_of_force.csv`, clean the `subject_injury` variable, handling the NA's; this gives a value `Yes` when a person was injured by police, and `No` when no injury occurred. What proportion of the values are missing? Is this a concern? Cross-tabulate your cleaned `subject_injury` variable with the `force_type` variable. Are there any patterns regarding when the data are missing? 
3. Dummy variable: For the pretrial data covered in the lecture `./data/justice_data.parquet`, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [1]:
import pandas as pd
import numpy as np
file_path = "./data/airbnb_hw.csv"
airbnb_df = pd.read_csv(file_path)

airbnb_df.head()

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [3]:
# airbnb_df['Price'] = pd.to_numeric(airbnb_df['Price'], downcast='float', errors='coerce')
airbnb_df['Price'] = airbnb_df['Price'].str.replace(',', '')
airbnb_df['Price'] = pd.to_numeric(airbnb_df['Price'], downcast='float')

# have to cast this from object to float otherwise describe doesn't show proper stats
airbnb_df['Price'].describe()

count    30478.000000
mean       163.589737
std        197.785461
min         10.000000
25%         80.000000
50%        125.000000
75%        195.000000
max      10000.000000
Name: Price, dtype: float64

In [5]:
airbnb_df['Price'].isnull().sum()

np.int64(0)

In [7]:
airbnb_df_cleaned.sort_values(by='Price', ascending=False)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
23927,23248648,11/2/2014,NO LONGER BOOKING RESERVATIONS,Manhattan,Apartment,95.0,Entire home/apt,10025.0,2.0,1,21,10000.0,95.0
4002,1177497,9/18/2011,Film Location,Brooklyn,House,NaN,Entire home/apt,11205.0,5.0,1,0,8000.0,NaN
17900,11598359,1/24/2014,SUPER BOWL Brooklyn Duplex Apt!!,Brooklyn,Apartment,NaN,Entire home/apt,11238.0,4.0,1,0,6500.0,NaN
2405,496780,4/9/2011,test listing which is not real,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,5.0,1,0,5999.0,NaN
24136,23564279,11/10/2014,Breathtaking 2-Story Soho Penthouse,Manhattan,Apartment,NaN,Entire home/apt,10013.0,3.0,1,0,5000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9793,3991870,10/27/2012,1 Couch 8 min from Manhattan J\M\Z,Brooklyn,Apartment,80.0,Shared room,11206.0,1.0,1,17,20.0,81.0
18209,12122005,2/10/2014,Private Room in Bushwick Warehouse,Brooklyn,Apartment,NaN,Private room,11237.0,1.0,1,0,20.0,NaN
30087,41211757,8/11/2015,"Private Room in Brooklyn, NY",Brooklyn,Apartment,NaN,Private room,11219.0,1.0,1,0,10.0,NaN
19275,14381346,4/16/2014,Small sofa,Bronx,House,100.0,Shared room,10462.0,1.0,1,2,10.0,100.0
3120,751530,6/27/2011,Room in three-Bedroom Apartment,Brooklyn,Apartment,NaN,Entire home/apt,NaN,1.0,1,0,10.0,NaN

### 1.1: 
I cleaned the data by first removing the commas from Price so when converting the entire Price column to numeric, it actually includes the numbers greater than 999. Now it is also a float instead of an object which allows us to use pd.describe to find the max, where we confirm it now includes numbers greater than 999 as well. We can also now check for the number of null values, otherwise known as NaN, and we have no null values in Price.

### 1.2. 
Categorical variable: For the Minnesota police use of for data, `./data/mn_police_use_of_force.csv`, clean the `subject_injury` variable, handling the NA's; this gives a value `Yes` when a person was injured by police, and `No` when no injury occurred. What proportion of the values are missing? Is this a concern? Cross-tabulate your cleaned `subject_injury` variable with the `force_type` variable. Are there any patterns regarding when the data are missing?

In [15]:
police_file_path = './data/mn_police_use_of_force.csv'
police_df = pd.read_csv(police_file_path)

police_df.head(30)

,response_datetime,problem,is_911_call,primary_offense,subject_injury,force_type,force_type_action,race,sex,age,type_resistance,precinct,neighborhood
0,2016/01/01 00:47:36,Assault in Progress,Yes,DASLT1,NaN,Bodily Force,Body Weight to Pin,Black,Male,20.0,Tensed,1,Downtown East
1,2016/01/01 02:19:34,Fight,No,DISCON,NaN,Chemical Irritant,Personal Mace,Black,Female,27.0,Verbal Non-Compliance,1,Downtown West
2,2016/01/01 02:19:34,Fight,No,DISCON,NaN,Chemical Irritant,Personal Mace,White,Female,23.0,Verbal Non-Compliance,1,Downtown West
3,2016/01/01 02:28:48,Fight,No,PRIORI,NaN,Chemical Irritant,Crowd Control Mace,Black,Male,20.0,Commission of Crime,1,Downtown West
4,2016/01/01 02:28:48,Fight,No,PRIORI,NaN,Chemical Irritant,Crowd Control Mace,Black,Male,20.0,Commission of Crime,1,Downtown West
5,2016/01/01 02:28:48,Fight,No,PRIORI,NaN,Chemical Irritant,Crowd Control Mace,Black,Male,20.0,Commission of Crime,1,Downtown West
6,2016/01/01 02:28:48,Fight,No,PRIORI,NaN,Chemical Irritant,Crowd Control Mace,Black,Female,20.0,Commission of Crime,1,Downtown West
7,2016/01/01 02:28:48,Fight,No,PRIORI,NaN,Chemical Irritant,Crowd Control Mace,Black,Male,20.0,Commission of Crime,1,Downtown West
8,2016/01/01 02:28:48,Fight,No,PRIORI,NaN,Chemical Irritant,Crowd Control Mace,Black,Male,20.0,Unspecified,1,Downtown West
9,2016/01/01 02:38:23,Fight,No,DISCON,No,Chemical Irritant,Crowd Control Mace,Black,Male,18.0,commission of crime,1,Downtown West
10,2016/01/01 02:38:23,Fight,No,DISCON,No,Chemical Irritant,Chemical Munitions,Black,Male,18.0,commission of crime,1,Downtown West
11,2016/01/01 02:39:47,Suspicious Person,No,DISCON,Yes,Bodily Force,Body Weight to Pin,Black,Male,21.0,Tensed,5,Lowry Hill East
12,2016/01/01 02:39:47,Suspicious Person,No,DISCON,Yes,Bodily Force,Joint Lock,Black,Male,21.0,Tensed,5,Lowry Hill East
13,2016/01/01 02:39:47,Suspicious Person,No,DISCON,Yes,Bodily Force,Body Weight to Pin,Black,Male,21.0,Tensed,5,Lowry Hill East
14,2016/01/01 03:11:20,Chase on Foot,No,FLEE,No,Bodily Force,Body Weight to Pin,Black,Male,17.0,Fled in Vehicle,3,Ventura Village
15,2016/01/01 03:11:20,Chase on Foot,No,FLEE,No,Bodily Force,Knees,Black,Male,17.0,Fled in Vehicle,3,Ventura Village
16,2016/01/01 03:22:39,Fight,No,FORCE,NaN,Chemical Irritant,Personal Mace,Black,Male,18.0,Verbal Non-Compliance,1,Downtown West
17,2016/01/01 03:22:39,Fight,No,FORCE,NaN,Chemical Irritant,Personal Mace,Black,Male,18.0,Verbal Non-Compliance,1,Downtown West
18,2016/01/01 15:22:04,Check the Welfare,Yes,THREAT,NaN,Bodily Force,Body Weight to Pin,Native American,Male,63.0,Commission of Crime,5,Lyndale
19,2016/01/01 17:47:46,Unwanted Person,Yes,FORCE,No,Bodily Force,Knees,White,Male,26.0,Tensed,5,Whittier
20,2016/01/02 20:09:25,Suspicious Person,No,OBSTRU,NaN,Bodily Force,Joint Lock,Black,Male,43.0,Tensed,4,Folwell
21,2016/01/02 20:09:25,Suspicious Person,No,OBSTRU,NaN,Bodily Force,Push Away,Black,Male,43.0,Tensed,4,Folwell
22,2016/01/02 20:09:25,Suspicious Person,No,OBSTRU,NaN,Bodily Force,Body Weight to Pin,Black,Male,43.0,Tensed,4,Folwell
23,2016/01/03 00:33:28,Stabbing,No,ASLT2,No,Taser,Red Dot,Black,Male,27.0,Commission of Crime,1,Downtown West
24,2016/01/03 00:33:28,Stabbing,No,ASLT2,No,Bodily Force,Body Weight to Pin,Black,Male,27.0,Commission of Crime,1,Downtown West
25,2016/01/03 01:43:45,Disturbance,No,ASLT4,Yes,Bodily Force,Punches,White,Male,25.0,Assaulted Officer,1,Downtown West
26,2016/01/03 02:00:41,Fight,No,FORCE,NaN,Chemical Irritant,Personal Mace,Black,Female,22.0,Commission of Crime,4,Hawthorne
27,2016/01/03 02:00:41,Fight,No,FORCE,NaN,Chemical Irritant,Personal Mace,Black,Male,25.0,Commission of Crime,4,Hawthorne
28,2016/01/03 02:00:41,Fight,No,FORCE,NaN,Chemical Irritant,Personal Mace,Black,Male,22.0,Commission of Crime,4,Hawthorne
29,2016/01/03 02:15:28,Disturbance,No,DISCON,NaN,Chemical Irritant,Crowd Control Mace,White,Male,22.0,Commission of Crime,2,Marcy Holmes

In [14]:
missing_subject_injury = police_df['subject_injury'].isnull().sum()
print("total missing subject injury = " + str(missing_subject_injury))
print("missing subject injury proportion = " + str(missing_subject_injury/len(police_df)))

total missing subject injury = 9848
missing subject injury proportion = 0.7619342359767892

In [16]:
missing_injury_by_force = (police_df[police_df['subject_injury'].isna()].groupby('force_type').size().sort_values(ascending=False))
print(missing_injury_by_force)

force_type
Bodily Force                   7051
Chemical Irritant              1421
Taser                           985
Maximal Restraint Technique     170
Less Lethal                      87
Improvised Weapon                74
Police K9 Bite                   31
Gun Point Display                27
Baton                             2
dtype: int64

In [18]:
police_df['injury_nan'] = police_df['subject_injury'].isnull()
print('total missing values:', police_df['injury_nan'].sum())
print('proportion of missing values:', police_df['injury_nan'].mean())

missing_by_force = (police_df.groupby('force_type')['injury_nan'].agg(['sum', 'count', 'mean']).sort_values(by='mean', ascending=False))

missing_by_force.rename(columns={'sum': 'num_missing', 'count': 'total_records', 'mean': 'missing_proportion'}, inplace=True)

print(missing_by_force)

total missing values: 9848
proportion of missing values: 0.7619342359767892
                             num_missing  total_records  missing_proportion
force_type
Less Lethal                           87             87            1.000000
Maximal Restraint Technique          170            170            1.000000
Chemical Irritant                   1421           1593            0.892028
Taser                                985           1307            0.753634
Bodily Force                        7051           9430            0.747720
Baton                                  2              4            0.500000
Improvised Weapon                     74            148            0.500000
Police K9 Bite                        31             77            0.402597
Gun Point Display                     27            104            0.259615
Firearm                                0              2            0.000000
Less Lethal Projectile                 0              3            0.000000

There is a pattern where the data is missing mainly from the force types, such as bodily force and chemical irritants, that have lower injury rates than the other force types. It is a bit worrying that such a large percentage is missing though since we could have an issue where the only reason we're under the impression that these force types have less injuries is purely because they're underreported as well.</br>
But in regards to cleaning, I can't drop all of the rows that have nan's to clean them because they make up so much of the data here, so I will fill them up as No if they're nan based on the pattern we've seen.

In [20]:
police_df['subject_injury'] = police_df['subject_injury'].fillna("No")

In [25]:
crosstab = pd.crosstab(police_df['force_type'], police_df['subject_injury'])
print(crosstab)

subject_injury                 No   Yes
force_type
Baton                           2     2
Bodily Force                 8144  1286
Chemical Irritant            1552    41
Firearm                         2     0
Gun Point Display              60    44
Improvised Weapon             108    40
Less Lethal                    87     0
Less Lethal Projectile          1     2
Maximal Restraint Technique   170     0
Police K9 Bite                 33    44
Taser                        1135   172

### 1.3

3. Dummy variable: For the pretrial data covered in the lecture `./data/justice_data.parquet`, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`. 
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

In [29]:
justice_file = "./data/justice_data.parquet"
justice_df = pd.read_parquet(justice_file, engine='fastparquet')
justice_df.head()

,InternalStudyID,REQ_REC#,Defendant_Sex,Defendant_Race,Defendant_BirthYear,Defendant_Age,Defendant_AgeGroup,Defendant_AgeatCurrentArrest,Defendant_AttorneyTypeAtCaseClosure,Defendant_IndigencyStatus,...,NewFelonySexualAssaultArrest_OffDate,NewFelonySexualAssaultArrest_ArrestDate,NewFelonySexualAssaultArrest_DaysBetweenContactEventandOffDate,NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate,NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate,NewFelonySexualAssaultArrest_Disposition,Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis,CriminalHistoryRecordsReturnedorCMSRecordsFoundforIndividual,DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound,CrimeCommission2021ReportClassificationofDefendants
0,ADI00001,1,M,W,1986,31,3,31,99,99,...,,,,999,999,,4,1,0,Defendant could not be classified or tracked d...
1,ADI00007,3,M,B,1956,60,6,60,9,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
2,ADI00008,4,M,W,1990,27,3,27,9,9,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
3,CDI00036,6,M,B,1989,27,3,27,0,0,...,,,,999,999,,5,1,1,Defendant Detained Entire Pre-Trial Period_Und...
4,CDI00038,7,F,W,1988,28,3,28,0,0,...,,,,999,999,,0,1,1,New criminal offense punishable by incarcerati...

In [ ]:
print(justice_df['WhetherDefendantWasReleasedPretrial'].value_counts(dropna=False))

justice_df['ReleasedPretrial'] = justice_df['WhetherDefendantWasReleasedPretrial'].map({'Yes': 1,'No': 0})

WhetherDefendantWasReleasedPretrial
1    19154
0     3801
9       31
Name: count, dtype: int64

In [42]:
justice_df['ReleasedPretrial'] = justice_df['WhetherDefendantWasReleasedPretrial'].replace(9, np.nan)
print(justice_df['ReleasedPretrial'].value_counts(dropna=False))

ReleasedPretrial
1.0    19154
0.0     3801
NaN       31
Name: count, dtype: int64

In [33]:
print(justice_df['ImposedSentenceAllChargeInContactEvent'].value_counts(dropna=False))
print(justice_df['SentenceTypeAllChargesAtConvictionInContactEvent'].value_counts(dropna=False))

ImposedSentenceAllChargeInContactEvent
                    9053
0                   4953
12                  1404
.985626283367556    1051
6                    809
                    ...
49.9712525667351       1
57.0349075975359       1
79.9260780287474       1
42.1642710472279       1
1.6570841889117        1
Name: count, Length: 484, dtype: int64
SentenceTypeAllChargesAtConvictionInContactEvent
4    8779
0    8720
1    4299
2     914
9     274
Name: count, dtype: int64

In [43]:
# 9 means not applicable/unknown but we keep 4 since other is still a valid category.
justice_df['SentenceTypeAllChargesAtConvictionInContactEvent'] = justice_df['SentenceTypeAllChargesAtConvictionInContactEvent'].replace(np.nan, 9)
print(justice_df['SentenceTypeAllChargesAtConvictionInContactEvent'].value_counts(dropna=False))

SentenceTypeAllChargesAtConvictionInContactEvent
4.0    8779
0.0    8720
1.0    4299
2.0     914
9.0     274
Name: count, dtype: int64

In [44]:
justice_df['ImposedSentenceAllChargeInContactEvent'] = pd.to_numeric(justice_df['ImposedSentenceAllChargeInContactEvent'],errors='coerce')

# if either 4 or 9 for sentence type, imposed sentence gets set to np.nan
justice_df.loc[(justice_df['SentenceTypeAllChargesAtConvictionInContactEvent'] == 9) | (justice_df['SentenceTypeAllChargesAtConvictionInContactEvent'] == 4),'ImposedSentenceAllChargeInContactEvent'] = np.nan

In [45]:
# need to floor the imposed sentence months because otherwise there are a bunch of unnecessary trailing floats
# note: needed astype int64 to keep nans
justice_df['ImposedSentenceAllChargeInContactEvent'] = np.floor(justice_df['ImposedSentenceAllChargeInContactEvent']).astype('Int64')

In [46]:
# checking that sentence type 4 is in fact set to not have an imposed sentence 
pd.crosstab(justice_df['SentenceTypeAllChargesAtConvictionInContactEvent'], justice_df['ImposedSentenceAllChargeInContactEvent'].isna())

ImposedSentenceAllChargeInContactEvent            False  True
SentenceTypeAllChargesAtConvictionInContactEvent
0.0                                                8720      0
1.0                                                4299      0
2.0                                                 914      0
4.0                                                   0   8779
9.0                                                   0    274

For ImposedSentenceAllChargeInContactEvent, the missing values aren't random since if SentenceTypeAllChargesAtConvictionInContactEvent is either 4(where the sentence type is other/dismissed) or 9(where the sentence type is unknown/not applicable which was then replaced with np.nan), there is no way for there to be an imposed sentence, which means we needed to replace it with np.nan. </br>
In addition to that, I floored imposed sentence because they were measured in months, so I would be able to reduce the noise and just see the sentence lengths measured in the nearest month, not a bunch of floats.

**Q2.** Go to https://sharkattackfile.net/ and download their dataset on shark attacks (Hint: `GSAF5.xls`).

1. Open the shark attack file using Pandas. It is probably not a csv file, so `read_csv` won't work.
2. Drop any columns that do not contain data.
3. Clean the year variable. Describe the range of values you see. Filter the rows to focus on attacks since 1940. Are attacks increasing, decreasing, or remaining constant over time?
4. Clean the Age variable and make a histogram of the ages of the victims.
5. What proportion of victims are male?
6. Clean the `Type` variable so it only takes three values: Provoked and Unprovoked and Unknown. What proportion of attacks are unprovoked?
7. Clean the `Fatal Y/N` variable so it only takes three values: Y, N, and Unknown.
8. Are sharks more likely to launch unprovoked attacks on men or women? Is the attack more or less likely to be fatal when the attack is provoked or unprovoked? Is it more or less likely to be fatal when the victim is male or female? How do you feel about sharks?
9. What proportion of attacks appear to be by white sharks? (Hint: `str.split()` makes a vector of text values into a list of lists, split by spaces.)